body {
    background-color: black;
}

h1 {
    color:white;
    font-family: mono45-headline, monospace;
}
p {
    color:white;
    font-family: 'IBM Plex Mono', monospace;
}
nav {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    }


.js-button {
    border: 1px solid white;
    background-color: black;
    padding: 1rem 1rem 1rem 1rem;
     width: 12rem;
    text-align: center;
    color: white;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    margin-right: 2rem;
}

.button__white {
    border: 1px solid white;
    margin-top: 1.5rem;
    margin-right: 2rem;
    padding: .65rem 1.5rem;
    cursor: auto;
}

.js-more-info {
    display: none;
    justify-content: center;
    align-content: center;
    margin: auto;
    z-index: 999;
}



.modal_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction:column;
    width: 40rem;
    height: 20rem;
    border: 1px solid white;
    background-color: black;
    animation: grow 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
    z-index: 999;
}

@keyframes grow {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}


.more_info {
    text-align: center;
    padding: 0rem 1rem;
}

.x {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    padding: 1rem;
    font-size: 2rem;
}
.top__linebreak {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    border: solid .5px white;
}

.box-grid {
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-areas: "cntext cnquestion";
    max-height: 85vh;
}

.box-1 {
    grid-area: cntext;
    overflow: hidden;
}

.primary_rectangle {
    display: flex;
    flex-direction: row;
}

.yellow_rectangle {
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: gold;
    z-index: 990;
}

.pink_rectangle {
    justify-content: flex-end;
    width: 100%;
    height: 50%;
    background-color: magenta
}

.blue_rectangle {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: cyan;
    z-index: 995;
}

/* .rectangle {
    display: flex;
    width: 20%;
    height: 20%;
    background-color: cyan;
    color: goldenrod;
} */
.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: none;
    grid-area: cnquestion; 
    overflow: hidden;
}

.cnlogo_text {
    margin: 15vh auto 3rem auto;
    padding: 1rem;
    width: 70%;
}

form {
    display: flex;
    align-content:flex-start;
    margin-bottom: 10rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
}

.js-submit-button {
    border: 1px solid white;
    font-family: mono45-headline, monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 4.5rem;
    text-align: center;
    padding: 0rem 1.25rem;
    color: white;
    background-color: transparent;
    margin-left: 3rem;
}

.js-submit-button:hover {
    box-shadow: 0.5rem 0.5rem goldenrod;
}

.button__white:hover {
    box-shadow: 0.5rem 0.5rem magenta;
}

.js-button:hover {
    box-shadow: 0.5rem 0.5rem cyan;
}

.js-birthday-input {
    border: 1px solid white;
    background-color: black;
    font-family: mono45-headline, monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 4.5rem;
    text-align: center;
    padding: 0rem 1.25rem 0rem 3rem;
    color: gray;
    width: 16rem;
    margin-left: 5rem;
}


.characters {
    display: none;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(3);
    grid-template-areas: 
    "him daffy aku tom" 
    "chris cheese iceking scrappy"
    "mojo father katz mandy";
    justify-content: center;
    align-content: center;
}

.character_box {
    padding: 4rem 2rem; 
    max-width: 13.625rem;
    max-height: 14.4375rem;
}

.character_box:hover {
    transform: scale(1.1)
}

.him {
    grid-area: him;
}

.daffy {
    grid-area: daffy;
}
 
.aku {
    grid-area: aku;
}
 
.tom {
    grid-area: tom;
}
 
.chris {
    grid-area: chris;
}
 
.cheese {
    grid-area: cheese;
}
 
.iceking {
    grid-area: iceking;
}
 
.scrappy {
    grid-area: scrappy;
}
 
.mojo {
    grid-area: mojo;
}

.father {
    grid-area: father;
}

.katz{
    grid-area: katz;
}

.mandy {
    grid-area: mandy;
}

/* character card styles  */


.js-character-modal {
    display: none;
    grid-template-columns: 52% 48%;
    grid-template-areas: "splashart villaintext";
}

.splash_art {
    grid-area: splashart;
    margin: 2rem 0rem 0rem 4rem;
    width: 80%;
    animation: fade 1s ease-in-out forwards 1s;
    opacity: 0;
}

.character_img {
    display: flex;
}

.character_name {
    display: flex;
    position: relative;
    left: 25rem;
    bottom: 14rem;
    z-index: 1;
    flex-direction: row-reverse;
    animation: box-shadow 5s ease-in-out forwards 2s;
    opacity: 0;
}


.zodiac_content {
    grid-area: villaintext;
    text-align: left;
    color: white;
}

.js-zodiac {
    margin-top: 5rem;
    margin-bottom: .2rem;
    font-size: 3rem;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
.js-date-range {
    margin-top: .2rem;
    margin-bottom: 1rem;
    animation: fade 1s ease-in forwards 3.5s;
    opacity: 0;
}

.js-zodiac-desc {
    margin: auto 2rem auto 0rem;
    max-width: 30rem;
    animation: fade 1s ease-in forwards 4s;
    opacity: 0;
}

.character_traits {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    max-width: 30rem;
}

.traits {
    font-family: IBM Plex Mono, monospace;
    color: goldenrod;
    animation: fade 1s ease-in forwards 7.5s;
    opacity: 0;
}

.villain_type {
    color: white;
    animation: fade 1s ease-in forwards 8.5s;
    opacity: 0;
}

.goal {
    color: white;
    animation: fade 1s ease-in forwards 10s;
    opacity: 0;
    
}

.crimes {
    color: white;
    animation: fade 1s ease-in forwards 11.5s;
    opacity: 0;
}

.tv_show {
    margin-right: 1rem;
    text-align: right;
    font-family: IBM Plex Mono, monospace;
    font-weight: 100;
    max-width: 6rem;
    color: cyan;  
    animation: fade 1s ease-in forwards 6s;
    opacity: 0;

}

/* ANIMATIONS */

.title {
    height: 50px;
    /* max-width: 12rem; */
    max-width: 18rem;
}

.box {
  width: max-content;
  height: 3rem;
  position: relative;
  margin-bottom: .6rem;
}
.block {
      width: 0%;
      height: inherit;
      height: 50px;
      background: magenta;
      position: absolute;
      animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes box-shadow {
    0% {
        box-shadow: none;
        opacity: 0;
    } 
    30% {
        box-shadow: none;
        opacity: 1;
    }
    90% {
        box-shadow: 0.5rem 0.5rem goldenrod; 
        opacity: 1;
    }
    100% {
        box-shadow: 0.5rem 0.5rem goldenrod; 
        opacity: 1;
    }
}

@keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
}


@keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



          
          